.hidden {
    display: none;
}

* {
    text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
    text-align: center;
}

body {
    top: 2px;
    left: 2px;
    height: 100vh;
    background: no-repeat center;
    background-size: cover;
    z-index: 1;
}

h1 {
    margin-top: 0.2rem;
    font-size: 2rem;
}

#hello {
    font-size: 3rem;
}

h4 {
    margin-top: 5rem;
    margin-bottom: 0.2rem;
}

#loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#loginForm.hidden {
    display: none;
}

input {
    margin: 0 auto;
    width: 20%;
    padding: 0.5rem;
    display: block;
    background: 0;
    border: 0;
    border-bottom: 2px solid #fff;
    -webkit-border-radius: 0;
    color: #000000;
    font-size: 2.25em;
    font-weight: 500;
    line-height: 1.2;
    outline: none;
    text-align: center;
    transition: border-color .2s ease;
    /* -webkit-border-radius: removes curves on iOS; */
}

#todo-list {
    font-size: 1.25rem;
}

#qnote {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 2rem;
}